@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;700;900&display=swap');
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

/* Generique Design: colors and fonts */

body {
  background-color: #E2F3FF;
  background-image: url("https://images.pexels.com/photos/11663651/pexels-photo-11663651.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
  color: rgb(40, 40, 40);
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  color: #021A2F;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  line-height: 1;
  font-weight: 900;
}

h2 {
  color: #13293D;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 1;
  font-weight: 900;
}

a {
  color: #2A628F;
  text-decoration: none;
}

a:hover {
  color: #13293D;
  text-decoration: underline;
}

/* Custom Design: using 99% de class et 1% id */

.card-white {
  background-color: rgb(235, 245, 236);
  width: 700px;
  margin: 24px auto;
  padding: 32px;
  box-shadow: 0 10px 15px rgba(0,0,0,0.1);
  border-radius: 4px;
  opacity: 0.9;
}

.img-circle {
  border-radius: 50%;
}

.btn-blue {
  background-color: #2A628F;
  color: white;
  border-radius: 4px;
  padding: 16px 24px;
  border: 1px solid transparent;
}

.btn-blue:hover {
  border: 1px solid #2A628F;
  color: #2A628F;
  background-color: white;
  text-decoration: none;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline-block;
  padding: 0px 16px;
}

.text-center {
  text-align: center;
}

/* Adjustment Design: using 1% id */

#intro p {
  margin-bottom: 40px;
}

#footer a {
  font-size: 60px;
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .card-white {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .card-white {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .card-white {
    width: 300px;
  }
}
